@page
@model GnomeTeam.Site.MailModel
@{
}


<h1>Mail</h1>

<form id="send-form" action="#">
    Send a message: 
    <input type="text" id="message-textbox" disabled /> 
    <button id="send-button" type="submit" disabled>Send</button>
</form>
